h1 {
    margin-left: 40%;
}

.box {
    display: flex;
}

.c1 {
    height: 810px;
    width: 760px;
    background-color: rgb(51, 109, 224);
    
}
.c11{
    box-shadow:-2px 2px 20px black;
    margin-top: 78px;
    width: 550px;
    height: 650px;
    margin-left: 208px;
    background-color: rgb(2, 119, 252);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#c{
    color: white;
    position: relative;
    top:150px;
    right:100px;
    font-size: 45px;
}
#cc{
    
    color: white;
    position: relative;
    top:100px;
    left: 110px;
    font-size: 25px;
    
}
.c2 {
    height: 810px;
    width: 760px;
    background-color: gainsboro;

}

.c22 {
    box-shadow:2px 2px 20px black;
    margin-top: 80px;
    width: 550px;
    height: 650px;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.form{
    margin-left: 50px;
    padding-top: 180px;
    font-size: small;
    
}
#in{
    padding-right: 50px;
    padding-bottom: 10px;
    font-size: 20px;
}
#anc{
    position: relative;
    left:120px;
}
#but{
    box-shadow:1px 1px 10px black;
    font-style: italic;
    position:relative;
    top: 50px;
    left: 95px;
    padding: 10px;
    width: 150px;
    color: white;
    background-color: rgb(2, 119, 252);
    border-radius: 7px;
    cursor: pointer;
}
#but:hover{
    color: aliceblue;
    background-color:rgb(26, 132, 252) ;
    transition: 0.4s;
}